<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<!--<link rel="stylesheet" type="text/css" media="all" href="#{request.contextPath}/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
	<title>
		<ui:insert name="title">
			<h:outputText value="Java EE MVC" />
		</ui:insert>
	</title>
</h:head>
<h:body>
	<div class="container-fluid example2">
		
		<ui:insert name="header">
			<ui:include src="/views/template/header.xhtml" />
		</ui:insert>
		
		<ui:insert name="content" />
		
		<ui:insert name="footer">
			<ui:include src="/views/template/footer.xhtml" />
		</ui:insert>
	</div>
	
	<!-- jQuery first, then Bootstrap JS. 
	<script src="#{request.contextPath}/webjars/jquery/0.0.1-SNAPSHOT2.4/jquery.min.js" type="text/javascript" />
	<script src="#{request.contextPath}/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" />-->
	<h:outputScript library="js" name="jquery-3.1.0.min.js"></h:outputScript>
	
	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
	<h:outputScript library="js" name="empty.js"></h:outputScript>
	<ui:insert name="scripts"></ui:insert>
</h:body>
</html>