<ui:composition template="/views/template/template.xhtml"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<ui:define name="title"><h:outputText value="Java EE MVC - Home" /></ui:define>
<ui:define name="content">
<h:form id="indexForm">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4"><p><h:outputText id="welcomeMessage" value="Welcome " /><h:outputText id="welcomeUserMessage" rendered="#{accountsController.loggedIn}" value="#{accountsController.currentUser.firstName}." /></p></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
      <h:commandButton id="showUserCount" value="Show User Count" styleClass="btn btn-default" >
        <f:ajax listener="#{indexController.updateUserCount()}" render="numberOfUsers" />
      </h:commandButton>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4"><h:outputText id="numberOfUsers" value="#{indexController.userCountMessage}" /></div>
    </div>
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
      	<h:outputText value="" />
      </div>
    </div>
</h:form>
</ui:define>
</ui:composition>