<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" media="all"
		href="#{request.contextPath}/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<title><ui:insert name="title">
			<h:outputText value="Java EE MVC - Login Required" />
		</ui:insert></title>
</h:head>
<h:body>
	<div class="container-fluid example2">
		<ui:insert name="header">
			<ui:include src="/views/template/header.xhtml" />
		</ui:insert>
		<h:form id="loginForm"
			onsubmit="document.getElementById('loginForm').action='j_security_check';"
			prependId="false" styleClass="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<h:outputText value="Login Required" styleClass="control-label" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel for="j_username" value="Email: "
					styleClass="col-sm-2 control-label" />
				<div class="col-sm-4">
					<h:inputText id="j_username" name="j_username"
						styleClass="form-control" />
				</div>
			</div>
			<div class="form-group">
				<h:outputLabel for="j_password" value="Password: "
					styleClass="col-sm-2 control-label" />
				<div class="col-sm-4">
					<h:inputSecret id="j_password" name="j_password"
						styleClass="form-control" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<h:commandButton id="submit" value="Login"
						styleClass="btn btn-default" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<h:outputLabel rendered="#{not empty param['Retry']}"
						value="Login Failed. Please try again." />
				</div>
			</div>
		</h:form>
	</div>
	<!-- jQuery first, then Bootstrap JS. -->
	<script
		src="#{request.contextPath}/webjars/jquery/0.0.1-SNAPSHOT2.4/jquery.min.js"
		type="text/javascript" />
	<script
		src="#{request.contextPath}/webjars/bootstrap/3.3.7/js/bootstrap.min.js"
		type="text/javascript" />
</h:body>
</html>
